@import 'reset';


body {
  background-color: #FFFFFF;
  transition: 0.5s background-color;
  font-family: sans-serif;
  font-size:14px;
  line-height: 16pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@mixin absolute_middle {
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@mixin absolute_center {
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin absolute_center_middle {
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin phone {
  @media (max-width: 414px) {
    @content;
  }
}

@mixin ipad_portrait {
  @media (max-width: 768px) {
    @content;
  }
}


@mixin ipad_landscape {
  @media (max-width: 1024px) {
    @content;
  }
}


@mixin desktop {
  @media (max-width: 1350px) {
    @content;
  }
}


@mixin s_desktop {
  @media (max-height: 1000px) {
    @content;
  }
}

